html {
  height: 100%;
  width: 100%;
}
body {
    background-color: blue;
}
#banner {
    max-width: 100%;
    height: auto; 
}
header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px; 
    margin-bottom: 5px; 

}

nav a {
    text-decoration: none;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 5vw; 
}
#seccion2 {
    display: none;
}
